input {
    height: 2rem;
    margin: 0;
}

p {
    display: block;
    width: 8em;
}

.pizzacolumn {
    display: inline-block;
}

.pizzaHeader {
    display: flex;
}

.pizzaHeader * {
    flex-basis: 8em;
}

form {
    display: flex;
    align-items: center;
}

form * {
    width: 25%;
}

@media (max-width: 602px) {
    body {
        display: initial;
    }
}
